.container {
    width: 600px;
    margin-left: 30px;
    display: flex;
    justify-content: space-between;
    gap: 15px;
    margin-bottom: 50px;
}

.friendItem {
    display: block;
    width: 108px;
    height: 200px;
    border: 2px solid black;
    border-radius: 8px;
    padding: 15px;

}

.friendItemAva {
    margin-bottom: 20px;
}

.friendItemName {
    display: block;
    margin-bottom: 8px;
    font-size: 25px;
    font-weight: 400;
    text-align: center;
    color: black;
}

.friendItemStatus {
    display: block;
    font-size: 15px;
    font-weight: 300;
    text-align: center;
    color: green;
}

.friendItemStatus.offLine {
    color: red;
}