.table {
    width: 100%;
    border-collapse: collapse;

    background-color: white;
    text-align: center;

    box-shadow: lightgray;
}

.thead {
    color: white;
    background-color: grey;
    text-transform: uppercase;
}



.th {
    padding: 10px;
    border: 1px solid grey;
    color: var(--color-white);
}

